.layout-bottombar {
    transition: transform $duration-animation-base $easing-animation-base, bottom $duration-animation-base $easing-animation-base,
        visibility 0s linear $duration-animation-base;
    z-index: $z-index-bottombar-mask;
    .layout-bottombar-desktop {
        box-sizing: border-box;
        flex: 1 1 auto;
        position: fixed;
        right: $spacing-layout-base;
        bottom: $spacing-layout-base;
        background-color: var(--surface-overlay);
        border-radius: $radius-layout-base;
        box-shadow: $shadow-component-base;
        transition: transform $duration-animation-base $easing-animation-base, right $duration-animation-base $easing-animation-base,
            left $duration-animation-base $easing-animation-base, width $duration-animation-base $easing-animation-base,
            height $duration-animation-base $easing-animation-base $duration-animation-base;
        &:not(:hover) {
            transition: transform $duration-animation-base $easing-animation-base, right $duration-animation-base $easing-animation-base,
                left $duration-animation-base $easing-animation-base, height $duration-animation-base $easing-animation-base,
                width $duration-animation-base $easing-animation-base $duration-animation-base,
                z-index $transition-duration-default linear $duration-animation-base;
            width: $width-bottombar-base;
            height: $height-bottombar-base;
        }
    }

    .layout-bottombar-mobile {
        display: none;
        position: fixed;
        bottom: $spacing-layout-base;
        right: $spacing-layout-base;
        flex: 1 1 auto;
        width: $width-panel-bottom-mobile;
        height: $height-panel-bottom-mobile;
        background-color: var(--surface-overlay);
        box-shadow: $shadow-component-base;
        border-radius: $radius-layout-base;
        z-index: $z-index-bottombar-base;
        transform: translateX(100%);
    }

    .layout-bottombar-mask {
        width: 100%;
        height: $height-bottombar-base;
        background-color: var(--surface-ground);
        transition: transform 0.3s ease-in-out;
        position: fixed;
        bottom: 0;
        z-index: $z-index-bottombar-mask;
        display: none;
    }
}
