.layout-main-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-between;
    padding: $spacing-main-content;
    transition: margin-left $duration-animation-base, margin-right $duration-animation-base;
}

.layout-main {
    flex: 1 1 auto;
}
