.layout-sidebar {
    width: $width-sidebar-base;
    background-color: var(--surface-overlay);
    border-radius: $radius-layout-base;
    padding: 0.5rem 1.5rem;
    user-select: none;
    position: fixed;
    overflow-y: auto;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.02), 0px 0px 2px rgba(0, 0, 0, 0.05), 0px 1px 4px rgba(0, 0, 0, 0.08);
    top: $top-sidebar-base;
    left: $spacing-layout-base;
    padding-bottom: 4rem;
    height: $height-sidebar-base;
    z-index: $z-index-sidebar-base;
    transition: transform $transition-duration-default $transition-easing-default, left $transition-duration-default $transition-easing-default,
        width $transition-duration-default $transition-easing-default, height $transition-duration-default $transition-easing-default,
        $transition-duration-default;
}

.layout-menu {
    margin: 0;
    padding: 0;
    list-style-type: none;
    user-select: none;
    .layout-root-menuitem {
        > .layout-menuitem-root-text {
            font-size: 0.857rem;
            text-transform: uppercase;
            font-weight: 700;
            color: var(--surface-900);
            margin: 0.75rem 0;
        }

        > a {
            display: none;
        }
    }

    li.active-menuitem {
        > a {
            .layout-submenu-toggler {
                transform: rotate(-180deg);
            }
        }

        > ul {
            max-height: auto;
        }
    }

    ul {
        margin: 0;
        padding: 0;
        list-style-type: none;

        a {
            display: flex;
            align-items: center;
            position: relative;
            outline: 0 none;
            color: var(--text-color);
            cursor: pointer;
            padding: 0.75rem 1rem;
            border-radius: $radius-layout-base;
            transition: background-color $duration-animation-base, box-shadow $duration-animation-base;
            text-wrap: nowrap;
            height: 3rem;

            .layout-menuitem-icon {
                margin-right: 0.5rem;
                max-width: max-content;
            }

            .layout-submenu-toggler {
                font-size: 75%;
                margin-left: auto;
                transition: transform $duration-animation-base;
            }

            &.rotated-icon {
                .layout-menuitem-icon {
                    transform: rotate(90deg);
                }
            }

            &.active-route {
                font-weight: 700;
                color: var(--primary-color);
            }

            &:hover {
                background-color: var(--surface-hover);
            }

            &:focus {
                @include focused-inset();
            }
        }

        ul {
            overflow: hidden;
            max-height: 0;
            border-radius: $radius-layout-base;

            li {
                a {
                    margin-left: 1rem;
                }

                li {
                    a {
                        margin-left: 2rem;
                    }

                    li {
                        a {
                            margin-left: 2.5rem;
                        }

                        li {
                            a {
                                margin-left: 3rem;
                            }

                            li {
                                a {
                                    margin-left: 3.5rem;
                                }

                                li {
                                    a {
                                        margin-left: 4rem;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

/* Enter transition */
.layout-submenu-enter {
    max-height: 1000px !important;
    transition: max-height 1s ease-in-out;
}

.layout-submenu-enter-active {
    max-height: 1000px !important;
    transition: max-height 1s ease-in-out;
}

/* Exit transition */
.layout-submenu-exit {
    max-height: 1000px !important;
}

.layout-submenu-exit-active {
    overflow: hidden;
    max-height: 0 !important;
    transition: max-height 0.45s cubic-bezier(0, 1, 0, 1);
}

.layout__searchbar {
    width: 6rem;
    height: 4rem;
    position: fixed;
    transform: translateX(-100%);
    left: 0;
    bottom: 0;
    opacity: 0;
    bottom: $layout-padding-default;
    z-index: $z-index-sidebar-base;
    border-radius: $border-radius-default;

    transition: transform $transition-duration-default $transition-easing-default, left $transition-duration-default $transition-easing-default,
        width $transition-duration-default $transition-easing-default, height $transition-duration-default $transition-easing-default,
        $transition-duration-modal;
    // background-color: aliceblue;

    &:hover {
        // transform: translateX(0);
        // width: $sidebar-width-default;
        // left: $layout-padding-default;
        // background-color: cadetblue;
        // box-shadow: $box-shadow-default;

        .searchbar-container {
            .searchbar-input {
                transform: translateX(0);
                color: var(--text-color);
                box-shadow: $box-shadow-default;
                &::placeholder {
                    opacity: 1;
                    transition: opacity 0.3s ease;
                }
            }
        }
    }

    .searchbar-container {
        background-color: var(--surface-overlay);
        // background-color: rgb(12, 46, 22);
        border-radius: $border-radius-default 0 $border-radius-default $border-radius-default;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        --size-button: 40px;
        z-index: $z-index-sidebar-base;

        position: relative;

        // background-color: aquamarine;

        .searchbar-input {
            padding-left: 4.1rem;
            font-size: 15px;
            border: none;
            outline: none;
            transition: all ease 0.3s;
            cursor: pointer;
            height: 4rem;
            width: $sidebar-width-mini;
            position: fixed;
            left: 0;
            bottom: 0;
            border-radius: $border-radius-default 0 $border-radius-default $border-radius-default;
            z-index: $z-index-sidebar-base;
            background-color: var(--surface-overlay);
            padding-right: 1rem;

            // Style for placeholder
            &::placeholder {
                opacity: 0; // Adjust opacity as needed
                transition: opacity 0.3s ease;
            }

            &:invalid {
                box-shadow: none;
            }

            // background-color: aquamarine;
        }

        // .searchbar-input:focus,
        // .searchbar-input:not(:invalid) {
        //   width: 100%;
        //   cursor: text;
        //   // box-shadow: $box-shadow-default;
        // }

        .searchbar-input:focus + .icon-container,
        .searchbar-input:not(:invalid) + .icon-container {
            pointer-events: all;
            cursor: pointer;
        }

        // .searchbar-container,
        .icon-container {
            position: absolute;
            width: 100%;
            // margin-right: 1rem;
            height: 100%; /* Ensures the container is a square */
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%); /* Center-aligns the icon */
            pointer-events: none;
            color: var(--text-color);
            // background-color: var(--surface-overlay);
            // background-color: var(--surface-overlay);
            // box-shadow: $box-shadow-default;
            // border-radius: $border-radius-default;

            border-color: transparent;
            border-radius: $border-radius-default;

            // background-color: darkblue;

            z-index: $z-index-sidebar-base;
        }

        .icon {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            // background-color: blueviolet;
        }

        // .searchbar-container .icon-container .search-icon {
        //   width: var(--size-button);
        //   height: var(--size-button);
        // }
    }
}

.clear-icon {
    position: absolute;
    right: 0;
    top: 0;
    width: 1rem;
    height: 1rem;
    cursor: pointer;
}

.layout__searchbar {
    opacity: 1;
    transform: translateX(0);
    left: $layout-padding-default;
    .searchbar-container {
        .searchbar-input {
            width: $sidebar-width-default;
            color: var(--text-color);
            &::placeholder {
                opacity: 1;
                transition: opacity 0.3s ease;
            }
        }
    }
    // background-color: aquamarine;
}

@keyframes slideInText {
    from {
        opacity: 0;
        transform: translateX(-20px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideOutText {
    from {
        opacity: 1;
        transform: translateX(0);
    }
    to {
        opacity: 0;
        transform: translateX(-20px);
    }
}
