.layout-topbar {
    z-index: $z-index-topbar-base;
    .layout-topbar-main {
        position: fixed;
        min-width: 300px;
        max-width: 100%;
        width: calc(100% - $spacing-layout-base * 2);
        height: $height-topbar-base;
        margin: $spacing-layout-base;
        padding: $spacing-layout-base;
        border-radius: $radius-layout-base;
        box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.02), 0px 0px 2px rgba(0, 0, 0, 0.05), 0px 1px 4px rgba(0, 0, 0, 0.08);
        display: flex;
        flex-direction: row;
        align-items: center;
        list-style: none;
        background-color: var(--surface-card);
        z-index: $z-index-layout-max;

        .topbar-start {
            display: flex;
            flex-direction: column;
            .logo-row {
                min-width: max-content;
                display: flex;
                align-items: center;
                border-radius: 8px;
                transition: background-color $duration-animation-base;
                color: var(--surface-900);
                img {
                    margin-right: 0.5rem;
                }
                .logo-text {
                    font-size: 1.3rem;
                    font-weight: 500;
                    margin-right: 0.5rem;
                }
                &:hover {
                    color: var(--text-color);
                    background-color: var(--surface-hover);
                }
                &:focus {
                    @include focused();
                }
            }

            .breadcrumb {
                padding: 0.1rem 0.5rem;
                text-decoration: none;
                text-transform: lowercase;
                font-size: 0.875rem;
                font-weight: 500;
                display: flex;
                flex-wrap: nowrap;
                &-link,
                &-segment {
                    color: var(--text-color);
                    text-decoration: none;
                    &:hover {
                        color: var(--primary-color);
                    }
                }
                &-separator {
                    color: var(--text-color-secondary);
                    margin: 0 0.25rem;
                }
            }
        }

        .topbar-center {
            width: 100%;
            height: calc(100% - 1rem);
            border-right: 1px solid var(--surface-border);
            padding-right: 0.5rem;
            display: flex;
            align-items: center;
            justify-content: end;
            .topbar-message {
                background-color: var(--surface-card);
                display: flex;
                align-items: center;
                gap: 0.5rem;
                padding: 0.5rem 1rem;
                border-radius: 8px;
                cursor: pointer;
                box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
                transition: all $duration-animation-base;
                i {
                    font-size: 1.2rem;
                    color: var(--primary-color);
                }
                span {
                    font-size: 0.875rem;
                    color: var(--text-color);
                }
                &:hover {
                    background-color: var(--surface-hover);
                    transform: translateY(-1px);
                }
            }
        }

        .topbar-end {
            .layout-topbar-menu {
                display: flex;
                align-items: center;
                list-style: none;
                .layout-button-container {
                    display: flex;
                    gap: 0.5rem;
                    padding-left: 0.5rem;
                    padding-right: 0.5rem;
                    border-right: 1px solid var(--surface-border);
                }
                .topbar-actions {
                    display: flex;
                    gap: 0.5rem;
                    padding-left: 0.5rem;
                }
            }
        }

        .layout-topbar-button {
            display: inline-flex;
            justify-content: center;
            align-items: center;
            position: relative;
            color: var(--text-color-secondary);
            background-color: transparent;
            border: none;
            border-radius: 50%;
            width: 3rem;
            height: 3rem;
            cursor: pointer;
            transition: background-color $duration-animation-base;
            padding: 0.5rem;
            transition: all $duration-animation-base;
            &:hover {
                color: var(--text-color);
                background-color: var(--surface-hover);
                transform: translateY(-1px);
            }
            &:focus {
                @include focused();
            }
            i {
                font-size: 1.5rem;
            }
            span {
                font-size: 1rem;
                display: none;
            }
        }

        .layout-topbar-menu-button {
            min-width: 3rem;
            min-height: 3rem;
            margin-left: 0.5rem;
            color: var(--text-color-secondary);
            border-radius: 50%;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            transition: background-color 0.2s;
            display: none;
            position: relative;
            padding: 0;
            background: transparent;
            border: none;
            &:hover {
                background-color: var(--surface-hover);
            }
            i {
                font-size: 1.25rem;
            }
        }
    }

    .layout-topbar-mask {
        width: 100%;
        height: $height-topbar-base;
        background-color: var(--surface-ground);
        transition: transform 0.3s ease-in-out;
        position: fixed;
        z-index: $z-index-topbar-mask;
    }
}
